<!--
  Title: not-found.component.html
  Arthur: Victor Soto
  Date: 06/22/2024
  Description: Not found page component
-->

<body>

  <!-- Container Div -->
  <div class="container">

    <!-- This is the title -->
    <h1>Page Not Found</h1>

    <!-- This is the 404-error image -->
    <div class="center-image">
      <img class="img-fluid" src="./assets/404-error.jpg" alt="Page Not Found">
    </div>


    <!-- This is the h2 & h3 text with message "Page not found" -->
    <!-- and option to go back to Home -->
    <div>
      <h2>Well, this is awkward…</h2>
      <h3> Let's get you back to
        <a routerLink="/home"><button type="button" class="home-btn">Home</button></a>
      </h3>
    </div>
    <br><br><br>
  </div>


</body>