<!--
  Title: nav.component.html
  Arthur: Victor Soto
  Date: 06/09/2024
  Description: Nav component
-->

<style>
  .bg-custom {
    background-color: rgba(233, 227, 11, 1);
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    color: black !important;
  }
</style>

<nav class="navbar navbar-expand-sm navbar-dark bg-custom fixed-top px-3">
  <a routerLink="/" class="navbar-brand">Nodebucket</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>


  <!-- Navigation Links -->

  <div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav ms-auto p-3">

      <li class="item">
        <a routerLink="/home" class="nav-link">Home</a>
      </li>

      <li class="item">
        <a routerLink="/contact" class="nav-link">Contact</a>
      </li>

      <li class="item">
        <a routerLink="/about" class="nav-link">About Us</a>
      </li>

      <li *ngIf="!isSignedIn">
        <a class="nav-link" routerLink="/security/signin">Sign In</a>
      </li>

      <li *ngIf="isSignedIn" class="nav-item dropdown">
        <a href="#" class="nav-link pe-3" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="material-icons">person</span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

          <li class="dropdown-item">
            Signed in as {{appUser.fullName}}
          </li>

          <hr />

          <li>
            <a routerLink="/tasks" class="dropdown-item"> My Tasks </a>
          </li>

          <li>
            <a (click)="signout()" class="dropdown-item link"> Sign Out </a>
          </li>


        </ul>

      </li>

    </ul>

  </div>

</nav>