<!--
  Title: about.component.html
  Arthur: Victor Soto
  Date: 06/16/2024
  Description: about component
-->

<body>
  <div class="container">
    <div class="text-section">
      <h1>About Us</h1>
      <br>
      <p>As a pioneering project management company, we are committed to developing groundbreaking tools that will transform the way we and our esteemed clients manage tasks. This goal motivates the artful work we do, from the creation of innovative websites and applications to effective accommodation of advertising and marketing campaigns.</p>
      <p>Our website is built using the most advanced stack, ensuring a reliable and efficient platform for ALL our users. To guarantee seamless integration and usage, we have documented every part of our website using Swagger, a renowned software for API design.</p>
      <p>At the heart of our mission is the desire to streamline project management processes with game-changing productivity enhancements tools, fostering efficiency for start-ups and enterprise levels alike. We are excited about new opportunities this might bring forward to those with positive impact on their project landscape.</p>
    </div>
    <div class="center-image">
      <img class="img-fluid" src="./assets/team-pic.png" alt="Team Picture">
    </div>
  </div>
</body>