<!--
  Title: home.component.html
  Arthur: Victor Soto
  Date: 06/09/2024
  Description: home component
-->


<div class="container-fluid pt-2">

  <h1 class="text-center">Welcome to the Nodebucket App!</h1>

  <div class="row mt-5 justify-content-center">

    <div class="col-sm-4">

      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title"></h2>
          <div class="center-image">
            <img class="img-fluid" src="./assets/task-image.jpg" alt="Image source: [https://cdn4.iconfinder.com]" style="max-width: 220px; max-height: 220px;">
          </div>
          <p>With Nodebucket, managing and keeping track of your tasks has never been easier. Stay organized and increase your productivity by keeping all your tasks in one place.</p>
        </div>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title"></h2>
          <div class="center-image">
            <img class="img-fluid" src="./assets/contact-image.jpg" alt="Image source: [https://www.istockphoto.com]" style="max-width: 300px; max-height: 300px;">
          </div>
          <p>Have questions or need assistance? We're here to help. Our dedicated support team is always ready to provide you with the answers and help you need.</p>
        </div>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title"></h2>
          <div class="center-image">
            <img class="img-fluid" src="./assets/about-image.jpg" alt="Image source: [https://www.google.com]" style="max-width: 250px; max-height: 250px;">
          </div>
          <p>Curious about who we are and why Nodebucket is the right choice for you? Learn more about our mission, our team, and how we're committed to helping you stay organized and productive.</p>
        </div>
      </div>

    </div>

  </div>

</div>